@import "../Components/checkbox";

.jobs-filters {
  &-form {
    border-radius: .6rem;
    background-color: var(--bg-component);
    transition: var(--transition) background-color;
  }
}

.jobs-filters-form--mobile {
  display: flex;
  align-items: center;
  padding: 1.6rem 1.6rem 1.6rem 2.4rem;
  @media (min-width: 768px) {
    display: none;
  }

  .input-group {
    flex: 1;
    margin-right: 1.2rem;
    input {
      color: var(--text-color-input);
      transition: var(--transition) color;
    }
    input::placeholder {
      opacity: 1;
      color: var(--text-color-input-ph);
      transition: var(--transition) color;
    }
  }
}

.jobs-filters-form--mobile__modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  position: fixed;
  padding: 0 2.4rem;
  align-items: center;
  justify-content: center;
  animation-name: fadeIn;
  animation-duration: 600ms;
  background-color: rgba(0, 0, 0, .50);

  @media (min-width: 768px) {
    display: none;
  }

  .modal__container {
    width: 100%;
    padding: 2.4rem 0;
    border-radius: .6rem;
    background-color: var(--bg-component);
    transition: var(--transition) background-color;
    .form-control {
      display: flex;
      padding: 0 2.4rem;
    }
    .input-group--mobile-location {
      padding: 0 2.4rem 2.4rem;
      border-bottom: 1px solid rgba(110, 128, 152, .20);
      input {
        padding-left: 3.3rem;
        background-size: contain;
        background-repeat: no-repeat;
        color: var(--text-color-input);
        background-position: left center;
        background-image: url(../../Assets/desktop/icon-location.svg);
        &::placeholder {
          opacity: 1;
          color: var(--text-color-input-ph);
        }
      }
    }

    .input-group--checkbox {
      margin: 2.4rem 2.4rem;
    }
  }
}

@keyframes fadeIn {
  0%   {opacity: 0; transform: translateY(-2rem); }
  100% {opacity: 1; transform: translateY(0); }
}

.jobs-filters-form--tablet {
  display: flex;
  height: 8rem;
  align-items: center;
  padding-left: 2.4rem;
  padding-right: 1.6rem;
  .input-group {
    padding: 2.8rem 0;
    background-repeat: no-repeat;
    background-position: left center;
    &--title {
      flex: 1;
      padding-left: 4rem;
      padding-right: 1rem;
      background-image: url(../../Assets/desktop/icon-search.svg);
      @media (min-width: 1210px) {
        width: 43.2rem;
      }
    }
    &--location {
      flex: 1;
      padding-left: 3rem;
      padding-right: 1rem;
      margin-left: 2.4rem;
      background-image: url(../../Assets/desktop/icon-location.svg);
      @media (min-width: 1210px) {
        width: 27.8rem;
      }
    }
    &--checkbox {
      width: 10.8rem;
      overflow: hidden;
      margin-left: 2rem;
      min-width: 10.8rem;
      white-space: nowrap;
      margin-right: 2.8rem;
      @media (min-width: 1210px) {
        width: 14.8rem;
        margin-left: 3.2rem;
      } 
      
    }
  }
  .input-divider {
    width: .1rem;
    height: 100%;
    opacity: .20;
    background-color: var(--color-gray-51);
  }
}