@import "../Components/jobcard";
@import "../Components/jobs-filters";

.main--home {
  padding: 0 2.4rem;
  @media (min-width: 713px) {
    padding: 0 4rem 0 3.9rem;
  }

  .container {
    margin: 0 auto;
    @media (min-width: 713px) {
      max-width: 72rem;
    }
    @media (min-width: 1039px) {
      max-width: 111rem;
    }
  }
  .jobslist {
    display: grid;
    row-gap: 4.9rem;
    margin-top: 5.7rem;
    @media (min-width: 713px) {
      column-gap: 1.1rem;
      margin: 10.5rem auto;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1039px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1110px) {
      column-gap: 3rem;
    }
  }
}