.main--job-detail {
  padding: 0 2.4rem;

  .container {
    margin: 0 auto;
    max-width: 73rem;
  }


  .company {
    text-align: center;
    border-radius: .6rem;
    background-color: var(--bg-component);
    transition: var(--transition) background-color;
    
    &__logo {
      width: 5rem;
      height: 5rem;
      overflow: hidden;
      display: inline-flex;
      border-radius: 1.5rem;
      img { width: 100%; }
    }
  }
}

