:root {
  // Colors
  --color-white: #ffffff;
  --color-violet-61: #5964E0;
  --color-violet-77: #939BF4;
  --color-charcoal-10: #121721;
  --color-charcoal-14: #19202D;
  --color-gray-51: #6E8098;
  --color-gray-69: #9DAEC2;
  --color-gray-97: #F4F6F8;
  
  // Font Weights
  --weight-regular: 400;
  --weight-bold: 700;
  // Design Elements
  --outline: 2px dotted var(--color-violet-61);
  --transition: 300ms ease-in-out;
}

.light {
  --bg-app: var(--color-gray-97);
  --bg-component: var(--color-white);
  --text-color-1: var(--color-charcoal-14);
  --color-description: var(--color-gray-51);
  --bg-checkbox: var(--color-charcoal-14);
  --text-color-input: var(--color-charcoal-14);
  --text-color-input-ph: rgba(25, 32, 45, .50);
}

.dark {
  --bg-app: var(--color-charcoal-10);
  --bg-component: var(--color-charcoal-14);
  --text-color-1: var(--color-white);
  --color-description: var(--color-gray-69);
  --bg-checkbox: var(--color-white);
  --text-color-input: var(--color-white);
  --text-color-input-ph: rgba(255, 255, 255, .50);
}

@media (prefers-color-scheme: dark) {
  .dark {
    --bg-app: var(--color-charcoal-10);
    --bg-component: var(--color-charcoal-14);
    --text-color-1: var(--color-white);
    --color-description: var(--color-gray-69);
    --bg-checkbox: var(--color-white);
    --text-color-input: var(--color-white);
    --text-color-input-ph: rgba(255, 255, 255, .50);
  }
}